# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file (sdk path, etc)
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Android/Keystore
*.jks
*.keystore

# Misc
.DS_Store